@font-face {
    font-family: 'Neue';
    src: url('fonts/NeueHaasDisplayBlack.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Neue';
    src: url('fonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Neue';
    src: url('fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Neue';
    src: url('fonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

body, html {
    margin: 25px;
    color: white;
    font-family: Neue;
    background-color: rgb(24, 23, 23);
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-weight: 800;
    font-size: 45px;
}

.guides-wrapper .guides {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    gap: 25px;
}

.guides-wrapper .image {
    position: absolute;
    z-index: -1;
}

.guides-wrapper .guides-title {
    position: relative;
}

.guides-wrapper .guides-title p{
    font-weight: 800;
    font-size: 30px;
}

.guide {
    position: relative;
    border: 1px #929292 solid;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}

.guide:hover {
    transform: scale(105%);
    cursor: pointer;
    border: 1px #666666 solid;
}

.guide .title {
    font-weight: 800;
    font-size: 35px;
}

.guide .guide-details {
    text-align: center;
    justify-content: center;
}

.author {
    font-weight: 300;
    font-size: 20px;
}

.discriminator {
    color:#c2c2c2;
}

@media only screen and (max-width: 1280px) {
    .guides-wrapper .guides {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 820px) {
    .guides-wrapper .guides {
        grid-template-columns: repeat(1, 1fr);
    }
}